<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>totalNumber</key>
		<string>6</string>
		<key>mountains</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>bierstadt</string>
				<key>rank</key>
				<integer>38</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,060</string>
				<key>name</key>
				<string>Mt. Bierstadt</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>grays</string>
				<key>rank</key>
				<integer>9</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>1</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,270</string>
				<key>name</key>
				<string>Grays Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>torreys</string>
				<key>rank</key>
				<integer>11</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,267</string>
				<key>name</key>
				<string>Torreys Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>longs</string>
				<key>rank</key>
				<integer>15</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,255</string>
				<key>name</key>
				<string>Longs Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>evans</string>
				<key>rank</key>
				<integer>14</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,264</string>
				<key>name</key>
				<string>Mt. Evans</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>pikes</string>
				<key>rank</key>
				<integer>30</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>1</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,110</string>
				<key>name</key>
				<string>Pikes Peak</string>
			</dict>
		</array>
		<key>range</key>
		<string>Front Range</string>
	</dict>
	<dict>
		<key>totalNumber</key>
		<string>1</string>
		<key>mountains</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>quandary</string>
				<key>rank</key>
				<integer>13</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>1</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,265</string>
				<key>name</key>
				<string>Quandary Peak</string>
			</dict>
		</array>
		<key>range</key>
		<string>Tenmile Range</string>
	</dict>
	<dict>
		<key>totalNumber</key>
		<string>5</string>
		<key>mountains</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>cameron</string>
				<key>rank</key>
				<integer>55</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,238</string>
				<key>name</key>
				<string>Mt. Cameron</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lincoln</string>
				<key>rank</key>
				<integer>8</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,286</string>
				<key>name</key>
				<string>Mt. Lincoln</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>bross</string>
				<key>rank</key>
				<integer>22</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>1</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,172</string>
				<key>name</key>
				<string>Mt. Bross</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>democrat</string>
				<key>rank</key>
				<integer>28</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,148</string>
				<key>name</key>
				<string>Mt. Democrat</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>sherman</string>
				<key>rank</key>
				<integer>45</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,036</string>
				<key>name</key>
				<string>Mt. Sherman</string>
			</dict>
		</array>
		<key>range</key>
		<string>Mosquito Range</string>
	</dict>
	<dict>
		<key>totalNumber</key>
		<string>15</string>
		<key>mountains</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>elbert</string>
				<key>rank</key>
				<integer>1</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>1</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,433</string>
				<key>name</key>
				<string>Mt. Elbert</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>massive</string>
				<key>rank</key>
				<integer>2</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,421</string>
				<key>name</key>
				<string>Mt. Massive</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>laplata</string>
				<key>rank</key>
				<integer>5</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,336</string>
				<key>name</key>
				<string>La Plata Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>harvard</string>
				<key>rank</key>
				<integer>3</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,420</string>
				<key>name</key>
				<string>Mt. Harvard</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>antero</string>
				<key>rank</key>
				<integer>10</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,269</string>
				<key>name</key>
				<string>Mt. Antero</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>shavano</string>
				<key>rank</key>
				<integer>17</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,229</string>
				<key>name</key>
				<string>Mt. Shavano</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>princeton</string>
				<key>rank</key>
				<integer>18</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,197</string>
				<key>name</key>
				<string>Mt. Princeton</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>belford</string>
				<key>rank</key>
				<integer>19</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,197</string>
				<key>name</key>
				<string>Mt. Belford</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>yale</string>
				<key>rank</key>
				<integer>21</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,196</string>
				<key>name</key>
				<string>Mt. Yale</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>tabeguache</string>
				<key>rank</key>
				<integer>25</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,155</string>
				<key>name</key>
				<string>Tabeguache Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>oxford</string>
				<key>rank</key>
				<integer>26</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,153</string>
				<key>name</key>
				<string>Mt. Oxford</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>columbia</string>
				<key>rank</key>
				<integer>35</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,073</string>
				<key>name</key>
				<string>Mt. Columbia</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>missouri</string>
				<key>rank</key>
				<integer>36</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,067</string>
				<key>name</key>
				<string>Missouri Mountain</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>holycross</string>
				<key>rank</key>
				<integer>51</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,005</string>
				<key>name</key>
				<string>Mt. of the Holy Cross</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>huron</string>
				<key>rank</key>
				<integer>52</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,003</string>
				<key>name</key>
				<string>Mt. Huron</string>
			</dict>
		</array>
		<key>range</key>
		<string>Sawatch Range</string>
	</dict>
	<dict>
		<key>totalNumber</key>
		<string>7</string>
		<key>mountains</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>castle</string>
				<key>rank</key>
				<integer>12</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,060</string>
				<key>name</key>
				<string>Castle Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>maroon</string>
				<key>rank</key>
				<integer>24</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,060</string>
				<key>name</key>
				<string>Maroon Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>capitol</string>
				<key>rank</key>
				<integer>29</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>4</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,060</string>
				<key>name</key>
				<string>Capitol Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>snowmass</string>
				<key>rank</key>
				<integer>31</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,060</string>
				<key>name</key>
				<string>Snowmass Mountain</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>conundrum</string>
				<key>rank</key>
				<integer>56</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,060</string>
				<key>name</key>
				<string>Conundrum Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>pyramid</string>
				<key>rank</key>
				<integer>47</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>4</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,060</string>
				<key>name</key>
				<string>Pyramid Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>nmaroon</string>
				<key>rank</key>
				<integer>57</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>4</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,060</string>
				<key>name</key>
				<string>North Maroon Peak</string>
			</dict>
		</array>
		<key>range</key>
		<string>Elk Mountains</string>
	</dict>
	<dict>
		<key>totalNumber</key>
		<string>14</string>
		<key>mountains</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>uncompahgre</string>
				<key>rank</key>
				<integer>6</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,309</string>
				<key>name</key>
				<string>Uncompahgre Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>wilson</string>
				<key>rank</key>
				<integer>16</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>4</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,246</string>
				<key>name</key>
				<string>Mt. Wilson</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>eldiente</string>
				<key>rank</key>
				<integer>57</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,159</string>
				<key>name</key>
				<string>El Diente Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>sneffels</string>
				<key>rank</key>
				<integer>27</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,150</string>
				<key>name</key>
				<string>Mt. Sneffels</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>windom</string>
				<key>rank</key>
				<integer>32</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,087</string>
				<key>name</key>
				<string>Mt. Windom</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>eolus</string>
				<key>rank</key>
				<integer>33</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,083</string>
				<key>name</key>
				<string>Mt. Eolus</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>sunlight</string>
				<key>rank</key>
				<integer>39</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>4</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,059</string>
				<key>name</key>
				<string>Sunlight Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>handies</string>
				<key>rank</key>
				<integer>40</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>1</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,048</string>
				<key>name</key>
				<string>Handies Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>neolus</string>
				<key>rank</key>
				<integer>58</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,039</string>
				<key>name</key>
				<string>North Eolus</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>redcloud</string>
				<key>rank</key>
				<integer>46</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,034</string>
				<key>name</key>
				<string>Redcloud Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>wilsonpk</string>
				<key>rank</key>
				<integer>48</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,017</string>
				<key>name</key>
				<string>Wilson Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>wetterhorn</string>
				<key>rank</key>
				<integer>49</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,015</string>
				<key>name</key>
				<string>Wetterhorn Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>sanluis</string>
				<key>rank</key>
				<integer>50</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>1</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,014</string>
				<key>name</key>
				<string>San Luis Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>sunshine</string>
				<key>rank</key>
				<integer>53</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,001</string>
				<key>name</key>
				<string>Sunshine Peak</string>
			</dict>
		</array>
		<key>range</key>
		<string>San Juan Mountains</string>
	</dict>
	<dict>
		<key>totalNumber</key>
		<string>10</string>
		<key>mountains</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>blanca</string>
				<key>rank</key>
				<integer>4</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,345</string>
				<key>name</key>
				<string>Blanca Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>crestonepk</string>
				<key>rank</key>
				<integer>7</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,294</string>
				<key>name</key>
				<string>Crestone Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>crestonen</string>
				<key>rank</key>
				<integer>20</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,197</string>
				<key>name</key>
				<string>Crestone Needle</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>kitcarson</string>
				<key>rank</key>
				<integer>23</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,165</string>
				<key>name</key>
				<string>Kit Carson Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>challenger</string>
				<key>rank</key>
				<integer>34</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,081</string>
				<key>name</key>
				<string>Challenger Point</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>humboldt</string>
				<key>rank</key>
				<integer>37</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,064</string>
				<key>name</key>
				<string>Humboldt Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>culebra</string>
				<key>rank</key>
				<integer>41</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,047</string>
				<key>name</key>
				<string>Culebra Peak</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>lindsey</string>
				<key>rank</key>
				<integer>42</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>3</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,042</string>
				<key>name</key>
				<string>Mt. Lindsey</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>ellingwood</string>
				<key>rank</key>
				<integer>43</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>2</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,042</string>
				<key>name</key>
				<string>Ellingwood Point</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>littlebear</string>
				<key>rank</key>
				<integer>44</integer>
				<key>notes</key>
				<string>Add notes...</string>
				<key>peakClass</key>
				<integer>4</integer>
				<key>ticks</key>
				<integer>0</integer>
				<key>elevation</key>
				<string>14,037</string>
				<key>name</key>
				<string>Little Bear Peak</string>
			</dict>
		</array>
		<key>range</key>
		<string>Sangre de Cristo Range</string>
	</dict>
</array>
</plist>
